{% load staticfiles thumbnail i18n %}

  {% if object_list %}
      <div class="row">
        <div class="grid article-list">
    {% for object in object_list %}
      {% include 'articles/article_list_item.html' %}
    {% endfor %}            
        </div>
      </div>
      <div class="row " style="clear: both"></div>

      {% if paginator.num_pages > 1 %}
      <div class="row pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"> &lt; </a>
          {% endif %}

          <span class="current" style="font-size: smaller;">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> &gt; </a>
          {% endif %}
        </span>
      </div>
      {% endif %}

  {% else %}
      <div class="row">
        <p>{% trans 'No articles are available.' %}</p>
      </div>
  {% endif %}


