{% extends 'base.html' %}
{% load staticfiles thumbnail i18n %}

{% block extra_js %}
  {{ block.super }}
  {% include 'spacescoops/article_list_component_js.html' %}
{% endblock %}


{% block content %}
      <div class="row">
        <div class="page-title">
          <div class="section-title partner"><a href="{% url 'partners:list' %}">{% trans 'Partner' %}</a></div>
          <div class="entry-title">
          </div>
        </div>
      </div>
      <div class="row partner-item">
        <div class="col-md-12">
    {% thumbnail object.logo THUMBNAIL_ALIASES.original_news_source crop="center" as im %}
          <a href="{{ object.url }}" class="logo" target="_blank"><img src="{{ im.url }}"></a>
    {% endthumbnail %}
          <div class="title">{{ object.name }}</div>
          <div class="description">
            {{ object.description|safe }}
          </div>
        </div>
      </div>
      <div class="row">
    {% include 'spacescoops/article_list_component_small.html' with object_list=object.scoops.all|slice:':3' %}
      </div>
        <div class="row">
        <div class="col-md-12 right">
          {% url 'partners:detail' slug=object.slug as partner_detail_url %}
          {<a href="{% url 'scoops:list_by_institution' institution=object.slug %}">Read more Space Scoops</a> based on {{ object.name }} Press Releases.
          {% blocktrans with partner_name=object.name partner_url=object.url %}<a href="{{ partner_url }}" target="_blank">Learn more</a> about {{ partner_name }}.{% endblocktrans %}
        </div>
      </div>      <div class="buffer"></div>
{% endblock %}
